@{
    ViewData["Title"] = "Экзаменационное задание. Вариант 8";
}

<div class="text-center">
    <h3 class="display-4">Выриант 8</h3>
    <p>
        В контроллере Home опишите действия Index(), Sumary(), Show(int? id), About(). Разрешите
        неавторизованный доступ только к методу Index. <br/>
        База данных авторизации должна иметь имя «MyDataBase». У пользователя должно быть дополнительное поле string Education.
    </p>
</div>
